body{background-color:darkgreen
}
div{
    border-style: solid;
    border-width:20px;
    border-bottom-width: 30px;

}
tr{border-style: solid;
    border-width:5px;}

h2{border-style: solid;
    border-width:10px;
    border-color:dimgray;
}
#tracks{
    border-width:15px;
}
#choo{position:fixed;
    left:70%;
    border-style:solid;
    border-width:20px;
    bottom:540px;
}
#window{
    position:relative;
    left:40%;
    width:50%;
    border-style:solid;
    border-width:15px;
}
#window2{
    position:relative;
    left:50%;
    width:50%;
    border-style:solid;
    border-width:15px;
}
#everyshing{
    border-bottom-width:0px;
}
button{
    position:relative;
    left:38%;
}